{% extends 'admin/index.html.twig' %}
{% block admin_content %}
<div class='button-container'>
    <a href="{{ path('add_theatre')}}" class="movie-button">Add Theatre</a>
    <a href="{{ path('view_theatre')}}" class="movie-button">View Theatre</a>
</div>

{% endblock %}
