{% extends 'admin/index.html.twig' %}
{% block admin_content %}
<div class='button-container'>
    <a href="{{path('add_show_time')}}" class="movie-button">Add Show Time</a>
    <a href="" class="movie-button">Delete/Edit</a>
</div>

{% endblock %}
